body {
    background: #fafafa;
}

.carousel {
    width: 700px;
    height: 150px;
    margin: 0 auto;
}

.carousel-hider {
    width: 600px;
    float: left;
    overflow: hidden;
}

.carousel-list {
    position: relative;
    width: 10000px;
    padding: 0;
    list-style: none;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 100px;
}

.carousel-element p {
    text-align: center;
}

.carousel-arrow-left,
.carousel-arrow-right {
    width: 20px;
    height: 20px;
    margin-top: 50px;
    background-size: cover;
    float: left;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
    cursor: pointer;
}

.carousel-arrow-left {
    margin-right: 25px;
    background-image: url(../img/arrow-left.svg);

}

.carousel-arrow-right {
    margin-left: 25px;
    background-image: url(../img/arrow-right.svg);
}
