* {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
}

section {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 30px;
    border: 2px solid #eee;
}

section h1 {
    margin-bottom: 10px;
    text-align: center;
}

section img {
    display: block;
    margin: 0 auto;
}

.about {
    margin-top: 10px;
    padding: 10px 5px;
}

.phrase {
    margin: 10px 0;
    padding-left: 30px;
}
